<?php echo $header; ?>
<div class="container">

<div id="map-filter">

        <div id="control-form" name="controls"></div>


<div style="color:#555;margin:10px 0px;clear:both">
        2. Выберите нужные заправки на карте &nbsp;

        <a class="sppb-btn sppb-btn-sm sppb-btn-success" download="fuelstations-discount.xls" href="#" onclick="if ($('#fsgt td').length == 0 ){alert('Не выбраны заправки!');return false;}   return ExcellentExport.excel(this, 'fsgt', 'Список АЗС');">Скачать в Excel</a>
</div>

    <div id="fsgt-container">
        <table class="ft table striped hovered" id="fsgt">
            <tbody></tbody>
        </table>
    </div>

    <p style="color:gray;font-size:10px;line-height:11px;">*Скидка отображается ориентировочно, данная информация не является публичной офертой. Информация по состоянию на текущий момент и не отражает динамики. При подписании договора скидка будет изменена, если к моменту подписания документа тот или иной поставщик изменил условия для нас. После подписания документов, если поставщик изменит условия, величина скидки тоже может быть изменена.
    </p>
</div>    
    
    
    
</div>
<script>
$(function () {
    $('body').append($('<div>').attr('id', 'map').css({width: '100%', height: $(window).height()}));
});
    <?php echo($json['vars']);?> 
    <?php echo($json['res']);?> 
</script>
<?php echo $footer; ?>