<?php echo $header; ?>
<div class="container">

<div id="loading">
    Загрузка карты...
</div>


<div id="map-filter">

        <div id="control-form" name="controls"></div>


<div style="color:#555;margin:10px 0px;clear:both">
        2. Выберите нужные заправки на карте &nbsp;
</div>

    <div id="fsgt-container">
        <table class="ft table striped hovered" id="fsgt">
            <tbody></tbody>
        </table>
    </div>

    <p style="color:gray;font-size:10px;line-height:11px;">*Скидка отображается ориентировочно, данная информация не является публичной офертой. Информация по состоянию на текущий момент и не отражает динамики. При подписании договора скидка будет изменена, если к моменту подписания документа тот или иной поставщик изменил условия для нас. После подписания документов, если поставщик изменит условия, величина скидки тоже может быть изменена.
    </p>
</div>    
    
    
    
</div>
<?php echo $footer; ?>