/* 
    Created on : 06.12.2017, 13:42:38
    Author     : alk
*/
html, body, #loading {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#loading {
    position: fixed;
    z-index: 1001;
    background:rgba(0,0,0,0.5);
    color:#FFF;
    font-weight:bold;
    padding-top:56px;
    padding-left:10px;
}

/*input, select {padding: 5px;background: #e0e0e0;}*/

#map-filter {
    display: none;
}
/*        #map-filter input {
            border: 2px solid #dadada;
            border-radius: 7px;
        }
        #map-filter input:focus, #map-filter input:hover { 
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }*/
#filter-form {display:none;min-height:32px}

.input-control.text {float:left}
#control-form {min-height: 32px;margin-bottom: 10px;}

#fsgt-container {
    overflow-y: auto;
    width:100%;
    /*height:100%;*/
    flex-grow: 1;
}

#fsgt {
    font-size: 11px;
}

.sppb-btn {
    float: left;
    display: block;
    width: 150px;
    color: #007d1d;
    font-size: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
}
.sppb-btn:hover {
    background: #d8d8d8
}        
.sppb-btn.wide {
    width:100%;
}
label {font-weight: bold;margin-left: 10px;margin-right: 15px;}
table {
    border-collapse: collapse;
}/*

table > th, table td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}*/


.table {
    width: 100%;
    margin: .625rem 0;
}
.table th,
.table td {
    padding: 0.625rem;
}
.table thead {
    border-bottom: 4px solid #ff5722;
}
.table thead th,
.table thead td {
    cursor: default;
    color: #52677a;
    border-color: transparent;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.table tfoot {
    border-top: 4px solid #999999;
}
.table tfoot th,
.table tfoot td {
    cursor: default;
    color: #52677a;
    border-color: transparent;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.table tbody td {
    padding: 0.625rem 0.85rem;
}        
.table.striped tbody tr:nth-child(odd) {
    background: #eeeeee;
}
.table.hovered tbody tr:hover {
    background-color: rgba(28, 183, 236, 0.1);
}

.table.border {
    border: 1px #999999 solid;
}
.table.bordered th,
.table.bordered td {
    border: 1px #999999 solid;
}
.table.bordered thead tr:first-child th,
.table.bordered thead tr:first-child td {
    border-top: none;
}
.table.bordered thead tr:first-child th:first-child,
.table.bordered thead tr:first-child td:first-child {
    border-left: none;
}
.table.bordered thead tr:first-child th:last-child,
.table.bordered thead tr:first-child td:last-child {
    border-right: none;
}
.table.bordered tbody tr:first-child td {
    border-top: none;
}
.table.bordered tbody tr td:first-child {
    border-left: none;
}
.table.bordered tbody tr td:last-child {
    border-right: none;
}
.table.bordered tbody tr:last-child td {
    border-bottom: none;
}       

#fsgt tr td:last-child {background: #EFEFEF;}
/*#excel-link {d1isplay: none;}*/
.baloobut {
    background: #ffffff;
    position:relative;
    color: #bbb;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;          

}

.baloobut:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);                
}

.baloobut:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5722;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}        
#control-form .lk-menu--outer .lk-menu--inner .lk-menu--item .caption {font-size:12px;text-transform: uppercase;}
#tariff-select {width: 365px;}
#ts-pop .lk-menu--outer.open, #fs-pop .lk-menu--outer.open, #ds-pop .lk-menu--outer.open {z-index:3!important}
#ts-pop .lk-menu--item, #fs-pop .lk-menu--item, #ds-pop .lk-menu--item {height: 36px;line-height: 36px;}
#ts-pop .icon-post i, #fs-pop .icon-post i, #ds-pop .icon-post i {line-height: 32px;}
.modal-front.lk-popup--back {z-index:3!important}
#ftype-select {width:170px;}
.lk-button-icon-right .lk-icon {float:right}
#map-select-distance .lk-icon.icon-arrow-down{position: relative!important}
#fsgt-container tbody tr{cursor: pointer;}
pre {
    display: block;
    position: absolute;
    width: 80%;
    font-size: 14px;
    z-index: 8;
    background: #f3f3f3;
    margin-left: 10%;
    padding: 15px;
    height: 100%;
    overflow-y: scroll;
}